
@{
  Layout = "_Layout";
}

<div>
  <h2>add new vendor below</h2>
  <form action="/vendors" method="post">
    <input id="vendorName" name="vendorName" type="text" placeholder="enter a vendor name">
    <input id="vendorDescription" name="vendorDescription" type="text" placeholder="enter a description">
    <button type="submit">submit entry</button>
  </form>

  <a href="/"><p>back home</p></a>
</div>
