@{
  Layout = "_Layout";
}

<div>
  @using OrderBuddy.Models

  <div class="items">
      <h2>@Model.Title</h2>
      <h4>@Model.Description</h4>
      <h4>@Model.Price</h4>
      <h4>@Model.Date</h4>
  </div>

  <a href="/vendors/@Model.VendorId/orders/@Model.Id/delete"><p>delete order</p></a>
  <a href="/vendors"><p>return to vendor list</p></a>
  <a href="/"><p>back home</p></a>
</div>


